In [1]:
#Exercise 1

a = 5 + 225


b = 7/3
c = 7//3
d = 7%3

print("a =",a)
print("b =",b)
print("c =",c)
print("d =",d)

a = 230
b = 2.3333333333333335
c = 2
d = 1

In [2]:
#Exercise 2

str1 = "".center(40,"-")
print(str1)

----------------------------------------

In [3]:
#Exercise 3

dirty = "John=is-a-great web developer\t    "
clean = dirty.replace("=", " ").replace("-", " ").strip()
print(clean)

John is a great web developer

In [5]:
#Exercise 4

fname = input("Give your firts name: ")
lname = input("Give your last name: ")
age = input("Give your age: ")
occ = input("Give your occupation: ")

print(f"New user {fname} {lname}, {age} years old {occ}, has been registered in the system")

Give your firts name: Stelios
Give your last name: Chapsos
Give your age: 27
Give your occupation: Data Analyst
New user Stelios Chapsos, 27 years old Data Analyst, has been registered in the system

In [6]:
#Exercise 5

lst1 = [ num*10 for num in range(1,11)]

print(lst1)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [7]:
#Exersice 6

x = [3,5,23,6,7]

y = 1
for num in x:
    y *= num
print(y)

14490

In [8]:
#Exercise 7

n = int(input("Give an integer: "))

print(sum(range(1,n+1)))

Give an integer: 6
21

In [9]:
#Exercise 8

x = [44,32,65,77,12,86]

sorted_x = sorted(x, reverse=True)
print(sorted_x[1])

77

In [10]:
#Exercise 9

fruits = ['Apple', 'Grapes', 'Berry', 'Orange']

joined = '-'.join(fruits)
print(joined)

Apple-Grapes-Berry-Orange

In [11]:
#Exercise 10

x = [32,3,5,4,4,3,2,6,4,5,6,7,8]

no_dups = []
for num in x:
    if num not in no_dups:
        no_dups.append(num)
        
print(no_dups)

[32, 3, 5, 4, 2, 6, 7, 8]

In [12]:
#Exercise 11

lst = [1,2,[3,4],[5,[100,200,['Data Science']],23,11],1,7]

print(lst[3][1][2])

['Data Science']

In [13]:
#Exercise 12

x = [2,4,5,6,7,1,6,8]
y = [3,4,5,6,0,3,9]

z = []

for num in x:
    if num not in y:
        z.append(num)

for num in y:
    if num not in x:
        z.append(num)

no_dup_z = []
for i in z:
    if i not in no_dup_z:
        no_dup_z.append(i)
        
print(no_dup_z)

[2, 7, 1, 8, 3, 0, 9]

In [4]:
#Exercise 13

x = [4, 67, 8, 'None', 32, 'Missing', 21]

x = [0 if isinstance(i, str) else i for i in x]

print(x)

[4, 67, 8, 0, 32, 0, 21]

In [14]:
#Exercise 14

primary_list = [1, [2, 3], 4, [5, 6, 7], 8]

for index, element in enumerate(primary_list[:]):
    if isinstance(element, list):
        primary_list.pop(index)
        primary_list[index:index] = element

print(primary_list)

[1, 2, 3, 5, 6, 7, [5, 6, 7], 8]

In [15]:
#Exercise 15

x = [32,3,5,4,4,3,2,6,4,5,6,7,8]

new_list = list(set(x))
print(new_list)

[32, 2, 3, 4, 5, 6, 7, 8]

In [16]:
#Exercise 16

x = [2,4,5,6,7,1,6,8]
y = [3,4,5,6,0,3,9]

x.extend(y)
z = list(set(x))
print(z)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
#Exercise 17

d = {'section':{'production':['wheel','tyre',{'engine':['pistons','valves','cylinder']}, 'door']}, 'development':'gearbox'}

print(d['section']['production'][2]['engine'][2])

cylinder

In [18]:
#Exercise 18

careers = ['programmer', 'truck driver', 'data analyst', 'progect manager']

careers.index('programmer')

0

In [19]:
if 'programmer' in careers:
    print("Programmer is in the careers list")

Programmer is in the careers list

In [20]:
careers.append('engineer')
print(careers)

['programmer', 'truck driver', 'data analyst', 'progect manager', 'engineer']

In [21]:
careers.insert(0,'web developer')
print(careers)

['web developer', 'programmer', 'truck driver', 'data analyst', 'progect manager', 'engineer']

In [22]:
for job in careers:
    print(job)

web developer
programmer
truck driver
data analyst
progect manager
engineer

In [23]:
careers.sort(reverse=True)
for job in careers:
    print(job)

web developer
truck driver
programmer
progect manager
engineer
data analyst

In [24]:
for job in sorted(careers): 
    print(job)

data analyst
engineer
progect manager
programmer
truck driver
web developer

In [25]:
#Exercise 19

alphabet = ["a","b","c","d","e","f","g","h","i","j"]

print(alphabet[:3])

['a', 'b', 'c']

In [26]:
print(alphabet[3:6])

['d', 'e', 'f']

In [27]:
print(alphabet[3:])

['d', 'e', 'f', 'g', 'h', 'i', 'j']

In [28]:
#Exercise 20

def is_string(par):
    return type(par) == str

print(is_string('hi'))
print(is_string(123))

True
False

In [29]:
#Exercise 21

str2 = 'St. Moritz is a nice location to visit over Christmas holidays!'
print('holiday' in str2)

True

In [30]:
#Exercise 22

rnd = 918273645

rev = sorted(str(rnd), reverse=True)
print(rev)

['9', '8', '7', '6', '5', '4', '3', '2', '1']

In [ ]:
#Exercise 23

data = {'part 1':['a','b'], 'part 2':['c','d']}

# ???

In [31]:
#Exercise 24

electricity_bill = {
        'January': 232,
        'February': 245,
        'March': 267,
        'April': 223,
        'May': 257,
        'June': 284,
        'July': 243,
        'August': 120,
        'September': 245,
        'October': 278,
        'November': 345,
        'December': 326,
}

total = sum(electricity_bill.values())
print(total)

avg = total/len(electricity_bill)
print(avg)

3065
255.41666666666666

In [32]:
#Exercise 25

grades = [91,64,47,82,67,96]

for i in range(len(grades)):
    if grades[i] >= 90:
        grades[i] = "A"
    elif 80<=grades[i]<90:
        grades[i] = "B"
    elif 70<=grades[i]<80:
        grades[i] = "C"
    elif 60<=grades[i]<70:
        grades[i] = "D"
    else:
        grades[i] = "F"
print(grades)

['A', 'D', 'F', 'B', 'D', 'A']

In [ ]:
#Exercise 26

temperature = {
        'June': [25, 25, 26, 27, 25, 25, 24, 27, 28, 28, 31, 32, 33],
        'July': [34, 34, 36, 39, 39, 38, 39, 37, 39, 41, 41, 39, 37],
        'August': [37, 37, 36, 37, 35, 35, 34, 37, 38, 34, 32, 33, 31],
}

hottest_month = ''
coldest_month = ''
max_temp = float('-inf')
min_temp = float('inf')

for month, temps in temperature.items():
    if max(temps) > max_temp:
        max_temp = max(temps)
        hottest_month = month
    if min(temps) < min_temp:
        min_temp = min(temps)
        coldest_month = month

print("Hottest month:", hottest_month)
print("Coldest month:", coldest_month)

In [33]:
#Exercise 27

#Make a list of the squares of the even numbers between 1 to 10

square_even = [num**2 for num in range(2,11,2)]
print(square_even)

[4, 16, 36, 64, 100]

In [34]:
#Exercise 28

#Create a function that takes a list of numbers and returns a list with only the ones that are even.


def get_even_numbers():
    numbers = input("Enter numbers: ").split()
    numbers = [int(num) for num in numbers]
    even_numbers = [num for num in numbers if num % 2 == 0]
    return even_numbers

even_numbers = get_even_numbers()
print("Even numbers:", even_numbers)

Enter numbers: 19 92 43 50 66 8 11
Even numbers: [92, 50, 66, 8]

In [35]:
#Exercise 29

def product_lst():
    numbers = input("Enter numbers: ").split()
    numbers = [int(num) for num in numbers]
    product = 1
    for num in numbers:
        product *= num
    return product

result = product_lst()
print("Product of elements:", result)

Enter numbers: 1 5 2 3
Product of elements: 30

In [36]:
#Exercise 30

def get_unique():
    input_list = input("Enter numbers: ").split()
    input_list = [int(num) for num in input_list]
    unique_nums = []
    for element in input_list:
        if element not in unique_nums:
            unique_nums.append(element)
    return unique_nums

unique_nums = get_unique()
print(unique_nums)

Enter numbers: 1 4 4 8 2 3 3 9
[1, 4, 8, 2, 3, 9]

In [37]:
#Exercise 31

#Write a function to calculate the average of a list of numbers

rnd_lst = [1,2,3]
def average(rnd_list):
    total = sum(rnd_lst)
    avg_lst = total/len(rnd_lst)
    return avg_lst

print(average(rnd_lst))

2.0

In [38]:
#Exercise 32

order_list = [
'fries', 'burger', 'eggs', 'pasta', 'pizza', 'schnitzel', 'salad', 'water',
'soda', 'wine', 'eggs', 'pasta', 'pizza', 'schnitzel','salad','water',
'soda', 'wine','pizza', 'schnitzel','soda', 'wine', 'lemonade', 'steak',
'pasta','salad','fries', 'burger','water','burger']

order_count = {}

for order in order_list:
    if order in order_count:
        order_count[order] += 1
    else:
        order_count[order] = 1
        
for order, count in order_count.items():
    print(f'{order}:{count}')

fries:2
burger:3
eggs:2
pasta:3
pizza:3
schnitzel:3
salad:3
water:3
soda:3
wine:3
lemonade:1
steak:1

In [39]:
#Exercise 33

customers = {
'customer 1':{'name': 'John Smith', 'city': 'New York', 'nr_or_purchases': 3, 'items':['coffee', 'cookies', 'milk']},
'customer 2':{'name': 'Rebeca Collins', 'city': 'New York', 'nr_or_purchases': 1, 'items':['sugar']},
'customer 3':{'name': 'Edward Matthews', 'city': 'Boston', 'nr_or_purchases': 4, 'items':['bananas', 'apples', 'oranges', 'cherries' ]},
'customer 4':{'name': 'Maria Simmons', 'city': 'Boston', 'nr_or_purchases': 3, 'items':['ham', 'cheese', 'butter']}}


for key in customers.keys():
    print(key)

customer 1
customer 2
customer 3
customer 4

In [40]:
customers['customer 3']['items'].append('berries')
print(customers['customer 3']['items'])

['bananas', 'apples', 'oranges', 'cherries', 'berries']

In [41]:
customers['customer 3']['nr_or_purchases'] = 5
print(customers)

{'customer 1': {'name': 'John Smith', 'city': 'New York', 'nr_or_purchases': 3, 'items': ['coffee', 'cookies', 'milk']}, 'customer 2': {'name': 'Rebeca Collins', 'city': 'New York', 'nr_or_purchases': 1, 'items': ['sugar']}, 'customer 3': {'name': 'Edward Matthews', 'city': 'Boston', 'nr_or_purchases': 5, 'items': ['bananas', 'apples', 'oranges', 'cherries', 'berries']}, 'customer 4': {'name': 'Maria Simmons', 'city': 'Boston', 'nr_or_purchases': 3, 'items': ['ham', 'cheese', 'butter']}}

In [42]:
del customers['customer 2']
print(customers)

{'customer 1': {'name': 'John Smith', 'city': 'New York', 'nr_or_purchases': 3, 'items': ['coffee', 'cookies', 'milk']}, 'customer 3': {'name': 'Edward Matthews', 'city': 'Boston', 'nr_or_purchases': 5, 'items': ['bananas', 'apples', 'oranges', 'cherries', 'berries']}, 'customer 4': {'name': 'Maria Simmons', 'city': 'Boston', 'nr_or_purchases': 3, 'items': ['ham', 'cheese', 'butter']}}

In [43]:
customers['customer 5'] = {
    'name': 'Sophia Willis',
    'city': 'Alabama',
    'nr_or_purchases': 4,
    'items': ['sugar','milk','flour','butter']
}

print(customers)

{'customer 1': {'name': 'John Smith', 'city': 'New York', 'nr_or_purchases': 3, 'items': ['coffee', 'cookies', 'milk']}, 'customer 3': {'name': 'Edward Matthews', 'city': 'Boston', 'nr_or_purchases': 5, 'items': ['bananas', 'apples', 'oranges', 'cherries', 'berries']}, 'customer 4': {'name': 'Maria Simmons', 'city': 'Boston', 'nr_or_purchases': 3, 'items': ['ham', 'cheese', 'butter']}, 'customer 5': {'name': 'Sophia Willis', 'city': 'Alabama', 'nr_or_purchases': 4, 'items': ['sugar', 'milk', 'flour', 'butter']}}

In [44]:
for customer, info in customers.items():
    if info['nr_or_purchases'] >= 3:
        info['promo'] = 'coupon'
        
print(customers)

{'customer 1': {'name': 'John Smith', 'city': 'New York', 'nr_or_purchases': 3, 'items': ['coffee', 'cookies', 'milk'], 'promo': 'coupon'}, 'customer 3': {'name': 'Edward Matthews', 'city': 'Boston', 'nr_or_purchases': 5, 'items': ['bananas', 'apples', 'oranges', 'cherries', 'berries'], 'promo': 'coupon'}, 'customer 4': {'name': 'Maria Simmons', 'city': 'Boston', 'nr_or_purchases': 3, 'items': ['ham', 'cheese', 'butter'], 'promo': 'coupon'}, 'customer 5': {'name': 'Sophia Willis', 'city': 'Alabama', 'nr_or_purchases': 4, 'items': ['sugar', 'milk', 'flour', 'butter'], 'promo': 'coupon'}}

In [45]:
for customer, info in customers.items():
    if info['city'] == 'Boston':
        info['promo'] = '10% discount'
        
print(customers)

{'customer 1': {'name': 'John Smith', 'city': 'New York', 'nr_or_purchases': 3, 'items': ['coffee', 'cookies', 'milk'], 'promo': 'coupon'}, 'customer 3': {'name': 'Edward Matthews', 'city': 'Boston', 'nr_or_purchases': 5, 'items': ['bananas', 'apples', 'oranges', 'cherries', 'berries'], 'promo': '10% discount'}, 'customer 4': {'name': 'Maria Simmons', 'city': 'Boston', 'nr_or_purchases': 3, 'items': ['ham', 'cheese', 'butter'], 'promo': '10% discount'}, 'customer 5': {'name': 'Sophia Willis', 'city': 'Alabama', 'nr_or_purchases': 4, 'items': ['sugar', 'milk', 'flour', 'butter'], 'promo': 'coupon'}}

In [46]:
#Exercise 34

def count_upper_lower(sentence):
    uppercase_count = 0
    lowercase_count = 0
    for char in sentence:
        if char.isupper():
            uppercase_count += 1
        elif char.islower():
            lowercase_count += 1
    return uppercase_count, lowercase_count

sentence = input("Write a sentence: ")

uppercase_count, lowercase_count = count_upper_lower(sentence)

print("Uppercase letters:", uppercase_count)
print("Lowercase letters:", lowercase_count)

Write a sentence: Hello, My Name Is Stelios
Uppercase letters: 5
Lowercase letters: 15

In [47]:
#Exercise 35 

cube_list = []

for n in range(1,11):
    cube = n**3
    cube_list.append(cube)
    
print(cube_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]